In [1]:
# Clone public repo from https://github.com/jpwhite3/northwind-SQLite3/blob/master/README.md
!git clone https://github.com/jpwhite3/northwind-SQLite3.git

Cloning into 'northwind-SQLite3'...
remote: Enumerating objects: 25, done.
remote: Total 25 (delta 0), reused 0 (delta 0), pack-reused 25
Unpacking objects: 100% (25/25), done.

In [6]:
import sqlite3
import pandas as pd

In [8]:
con = sqlite3.connect("northwind-SQLite3/Northwind_small.sqlite")

In [12]:
queryTables = """
select name from sqlite_master
where type = 'table'
"""

dfTables = pd.read_sql_query(queryTables, con)

In [13]:
print(dfTables)

                    name
0               Employee
1               Category
2               Customer
3                Shipper
4               Supplier
5                  Order
6                Product
7            OrderDetail
8   CustomerCustomerDemo
9    CustomerDemographic
10                Region
11             Territory
12     EmployeeTerritory

In [17]:
queryEmployee = """
select * from employee
"""

dfEmployee = pd.read_sql_query(queryEmployee, con)

dfEmployee.head(10)

,Id,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1980-12-08,2024-05-01,507 - 20th Ave. E. Apt. 2A,Seattle,North America,98122,USA,(206) 555-9857,5467,None,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1984-02-19,2024-08-14,908 W. Capital Way,Tacoma,North America,98401,USA,(206) 555-9482,3457,None,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1995-08-30,2024-04-01,722 Moss Bay Blvd.,Kirkland,North America,98033,USA,(206) 555-3412,3355,None,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1969-09-19,2025-05-03,4110 Old Redmond Rd.,Redmond,North America,98052,USA,(206) 555-8122,5176,None,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1987-03-04,2025-10-17,14 Garrett Hill,London,British Isles,SW1 8JR,UK,(71) 555-4848,3453,None,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1995-07-02,2025-10-17,Coventry House Miner Rd.,London,British Isles,EC2 7JR,UK,(71) 555-7773,428,None,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1992-05-29,2026-01-02,Edgeham Hollow Winchester Way,London,British Isles,RG1 9SP,UK,(71) 555-5598,465,None,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1990-01-09,2026-03-05,4726 - 11th Ave. N.E.,Seattle,North America,98105,USA,(206) 555-1189,2344,None,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1998-01-27,2026-11-15,7 Houndstooth Rd.,London,British Isles,WG2 7LT,UK,(71) 555-4444,452,None,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp

In [18]:
for col in dfEmployee:
    print(col)

Id
LastName
FirstName
Title
TitleOfCourtesy
BirthDate
HireDate
Address
City
Region
PostalCode
Country
HomePhone
Extension
Photo
Notes
ReportsTo
PhotoPath

In [22]:
queryEmployeeAge = """
select LastName, FirstName, BirthDate, 
date('now') - BirthDate as age from Employee"
"""

dfEmployeeAge = pd.read_sql_query(queryEmployeeAge, con)

print(dfEmployeeAge)

    LastName FirstName   BirthDate  age
0    Davolio     Nancy  1980-12-08   40
1     Fuller    Andrew  1984-02-19   36
2  Leverling     Janet  1995-08-30   25
3    Peacock  Margaret  1969-09-19   51
4   Buchanan    Steven  1987-03-04   33
5     Suyama   Michael  1995-07-02   25
6       King    Robert  1992-05-29   28
7   Callahan     Laura  1990-01-09   30
8  Dodsworth      Anne  1998-01-27   22

In [25]:
dfEmployeeAge["age"].mean()

32.22222222222222